[Unit]
Description=Seeker daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/seeker-daemon-process
Restart=always
RestartSec=5
User=daemon
Group=daemon
WorkingDirectory=/var/lib/seeker-daemon

[Install]
WantedBy=multi-user.target
